.AboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--spacing);
  overflow: hidden;
}

.AboutMe .personalImage {
  margin-right: 200px; /* Adjust the margin to move the image to the left */
}

.AboutMe .personalInfo .contentDescription {
  width: 100%; /* Increase width to fit more text per line */
}

/* Media Queries for Mobile Optimization */

@media (min-width: 750px) {
  .AboutMe .personalImage {
    margin-right: 200px; /* Original margin for larger screens */
    margin-bottom: 0; /* Remove bottom margin for larger screens */
  }

  .AboutMe .personalInfo .contentDescription {
    padding: 0; /* Remove padding for larger screens */
  }
}